
.carousel-inner {
    position: relative;
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 80vw;
    // max-height: 10vh;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 5%;
}

.header {
  font-size: 40pt;
  background: linear-gradient(40deg, #f5af19, #ef5310 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}
