<section class="team">
    <div class="header">
      Meet the team
    </div>
    <div class="content">
     <div class="section">
       <img src="../../assets/img/team/leif.jpg" alt=""/>
       <div class="text">
         <h2>Leif Thysell Sundqvist</h2>
         <h3>Artist</h3>
<p>Mainly responsible for 2D and 3D design and assets as well as illustrations and animations. The 3D models were modelled in Blender and directly exported to the project in Unity. The 2D assets were designed in Adobe Photoshop, and  the animated videos in Blender as well as Adobe After Effects.

I also assisted with game mechanics and functionality whenever there was need of an extra hand.</p>
       </div>
       <div class="contact">
         <a href="https://google.com" target="_blank">
       <img src="../../assets/img/team/email.svg" id="email" alt=""/>
     </a>
     <a href="https://www.linkedin.com/in/leiftysellsundkvist/" target="_blank">
       <img src="../../assets/img/team/linkedin.svg" id="linkedin" alt=""/>
       </a>
     </div>
     </div>
     <div class="section">
       <img src="../../assets/img/team/petter.jpg" alt=""/>
       <div class="text">
         <h2>Petter Tasola</h2>
         <h3>Game and web developer</h3>
         <p>Responsible for game mechanics and scripting the game in Unity 3D (C#). Developed the airdrop and powerup functionality and animations. Petter was also involved in the strive for making the game as multimodal as possible, developing the haptic feedback and the signal processing in the blowing interface. Went on developing this demo-site in Angular at a later stage of the project.</p>
       </div>
       <div class="contact">
         <a href="mailto:pkul@kth.se" target="_blank">
       <img src="../../assets/img/team/email.svg" id="email" alt=""/>
     </a>
     <a href="https://www.linkedin.com/in/petter-tasola-699a8714b/" target="_blank">
       <img src="../../assets/img/team/linkedin.svg" id="linkedin" alt=""/>
       </a>
     </div>
     </div>
     <div class="section">
       <img src="../../assets/img/team/alex.jpg" alt=""/>
       <div class="text">
         <h2>Alexandra Runhem</h2>
         <h3>AR and Web developer</h3>
         <p>
           Alexandra's been responsible for programming game mechanics in C#, such as physical attributes of the objects, spawning logic as well as visual feedback. Been Julian's co-programmer and brainstormed the different mathematical functions that our application is built upon. As part of the web development team, I set up the core of this Angular website as well as basic layouting and styling.
         </p>
       </div>
       <div class="contact">
         <a href="mailto:arunhem@kth.se" target="_blank">
       <img src="../../assets/img/team/email.svg" id="email" alt=""/>
     </a>
     <a href="https://www.linkedin.com/in/alexandrarunhem/" target="_blank">
       <img src="../../assets/img/team/linkedin.svg" id="linkedin" alt=""/>
       </a>
     </div>
     </div>
     <div class="section">
       <img src="../../assets/img/team/gustav.jpg" alt=""/>
       <div class="text">
         <h2>Gustav Johansson</h2>
         <h3>Game Developer</h3>
        <p>Gustav’s focus in this project have mainly been on game mechanics; animating collectibles, developing functionality for power ups, integrating modalities such as vibration on collision and moving the zeppelin when blowing on the screen, signal processing, creating the leaderboard - both programmatically but also the UI design. He has also been rewriting parts of the code to make it more object oriented and scalable for future use.</p>
       </div>
       <div class="contact">
         <a href="mailto:gustjoh@kth.se" target="_blank">
       <img src="../../assets/img/team/email.svg" id="email" alt=""/>
     </a>
     <a href="https://www.linkedin.com/in/gustav-johansson-b85b42109/" target="_blank">
       <img src="../../assets/img/team/linkedin.svg" id="linkedin" alt=""/>
       </a>
     </div>
     </div>
     <div class="section">
       <img src="../../assets/img/team/linnea2.png" alt=""/>
       <div class="text">
         <h2>Linnea Holm</h2>
         <h3>web developer / ux / cOPY</h3>
         <p>Responsible for the user experience of the game, Linnea has taken lead on the UX research, testing and evaluation during the development of this game. She has also been involved in some of the visual design decisions throughout the development process. At the later stages of the project, she was part of the website developing team, equally focused on coding and styling as well as being the project's copywriter.</p>
       </div>
       <div class="contact">
         <a href="mailto:lihol@kth.se" target="_blank">
       <img src="../../assets/img/team/email.svg" id="email" alt=""/>
     </a>
     <a href="https://linkedin.com/in/holmlinnea/" target="_blank">
       <img src="../../assets/img/team/linkedin.svg" id="linkedin" alt=""/>
       </a>
     </div>
     </div>
     <div class="section">
       <img src="../../assets/img/team/julian.jpg" alt=""/>
       <div class="text">
         <h2>Julian Hedén</h2>
         <h3>AR-developer</h3>
         <p>Julian's contributions mostly consist of Augmented Reality and game programming within the app. His focus has been on creating, localizing and keeping track of objects in the AR space. He's also developed some game mechanics, such as the wind and boundaries/fences.
Julian has also acted as part project manager and helped merge the pieces together (being the only one with an ARCore compatible device).</p>
       </div>
       <div class="contact">
         <a href="mailto:pjheden@kth.se" target="_blank">
       <img src="../../assets/img/team/email.svg" id="email" alt=""/>
     </a>
     <a href="https://www.linkedin.com/in/julian-heden/" target="_blank">
       <img src="../../assets/img/team/linkedin.svg" id="linkedin" alt=""/>
       </a>
     </div>
     </div>
  </div>
</section>
