<section class="team">
  <div class="row">
    <div class="header">
      Meet the team
    </div>
    <div class="content">
     <div class="section">
       <img src="../../assets/img/big.png" alt=""/>
       <div class="text">
         <h2>Leif Thysell Sundqvist</h2>
         <h3>Artist</h3>
<p>Mainly responsible for 2D and 3D design and assets as well as illustrations and animations. The 3D models were modelled in Blender and directly exported to the project in Unity. The 2D assets were designed in Adobe Photoshop, and  the animated videos in Blender as well as Adobe After Effects.

I also assisted with game mechanics and functionality whenever there was need of an extra hand.</p>
       </div>
     </div>
     <div class="section">
       <img src="../../assets/img/big.png" alt=""/>
       <div class="text">
         <h2>Petter Tasola</h2>
         <h3>Game and web developer</h3>
         <p>Responsible for game mechanics and scripting the game in Unity 3D (C#). Developed the airdrop and powerup functionality and animations. Petter was also involved in the strive for making the game as multimodal as possible, developing the haptic feedback and the signal processing in the blowing interface. Went on developing this demo-site in Angular at a later stage of the project.</p>
       </div>
     </div>
     <div class="section">
       <img src="../../assets/img/big.png" alt=""/>
       <div class="text">
         <h2>Alexandra Runhem</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       </div>
     </div>
     <div class="section">
       <img src="../../assets/img/big.png" alt=""/>
       <div class="text">
         <h2>Gustav Johansson</h2>
         <h3>Game Developer</h3>
        <p>Gustav’s focus in this project have mainly been on game mechanics; animating collectibles, developing functionality for power ups, integrating modalities such as vibration on collision and moving the zeppelin when blowing on the screen, signal processing, creating the leaderboard - both programmatically but also the UI design. He has also been rewriting parts of the code to make it more object oriented and scalable for future use.</p>
       </div>
     </div>
     <div class="section">
       <img src="../../assets/img/big.png" alt=""/>
       <div class="text">
         <h2>Linnea Holm</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       </div>
     </div>
     <div class="section">
       <img src="../../assets/img/big.png" alt=""/>
       <div class="text">
         <h2>Julian Hedén</h2>
         <h3>AR-developer</h3>
         <p>Julian's contributions mostly consist of AR and game programming within the app. To create, localize and keep track of objects in AR space. Also some game mechanics such as wind and walls.
Besides that he's done a little project management and helped glue pieces together (being the only one with a compatible device).</p>
       </div>
     </div>
  </div>
</div>
</section>
