.team {
  width: 100%;
  position: absolute;
  align-items: center;
}
.header {
  font-size: 40pt;
  background: linear-gradient(40deg, #f5af19, #ef5310 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

.content {
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: 200;
  margin-top: 3%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 22%;
  min-width: 300px;
  min-height: 75vh;
  margin: 2%;
  background-color: #f7f9ff;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
}

.section > .text {
  // margin-left: 7%;
  width: 85%;
  cursor: default;
  display: inline-block;
  vertical-align: top;

}
.section > .text > p {
    text-align: justify;
    font-size: 14px;
    margin-top: 15px;
  // visibility: hidden;
}
.section h2 {
  font-size: 20pt;
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
  margin-top: 20px;
}
.section h3 {
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0,0,0,.5);
}
.section:hover {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}
.section:hover > img {
  transform: scale(1.05);
}
.section img {
  max-width: 50%;
  max-height: 50%;
  margin-top: 10px;
  width: auto;
  height: auto;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 50%;
  overflow: hidden;
}
.btn {
  width: 20%;
  height: 10%;
  margin: auto;
  margin-top: 4%;
  text-align: center;
}
.btn > button {
  height: 100%;
  width: 100%;
  background: linear-gradient(40deg, #f5af19, #ef5310 80%);
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn > button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.contact {
  display: inline-block;
  height: 40%;
  width: 30%;
  margin: auto;
  margin-top: 2%;
  // margin-bottom: 2%;
}
.contact > a > img {
  max-width: 30px;
  max-height: 30px;
  float: left;
  border-radius: 0px;
}
.contact > a > #linkedin {
  // max-width: 50px;
  // max-height: 50px;
  float: right;
}
