<div class="header">
Our process
</div>
<div id="container">
  <div class="section">
    <img src="../../assets/img/process/1.4.jpg" alt=""/>
    <h2>Goals and motivation</h2>
    <p>
The goal of ZeppelinARe has been to make as much use of the augmented reality medium as appropriate, without confusing the users. Implementing  a game with familiar mechanics and instructions, we put much of our focus on an unconventional interaction method. <br/><br/>Our motivation has been to create a game that could be played in any surrounding, making use of the space and at the same time encourage replay-ability!</p>
</div>
<div class="section">
  <img src="../../assets/img/process/1.1.jpg" alt=""/>
  <h2>Graphics</h2>
  <p>Our choice of graphics are aerially themed, with the zeppelin, the airdrops with little parachutes and the boundaries/fences that are carried by tiny balloons. The airdrops are color coded depending on how fast they fall towards the ground. <br/><br/>The zeppelin has a rotor that’s animated when it’s moving forward, the side of the zeppelin displays the player’s score and there’s also an animation for the wind coming out through the phone when players blow on the screen.</p>
</div>
<div class="section">
  <img src="../../assets/img/process/1.3.jpg" alt=""/>
  <h2>Interaction</h2>
  <p>The interaction method, making use of the augmented reality medium and avoiding UI elements to control the events, follows the theme as well. <br/><br/>The interaction technology makes use of the microphone, and technically the player could make different sounds, but asking them to blow on the screen the player simulates the wind in the propeller of the zeppelin, adding to the aerial context and enabling a fun and unconventional interaction for controlling events. <br/><br/>Using the mix between virtuality and reality of AR the game mixes realism, like the zeppelin moving with physics like expected, with some aspects that are somewhat surreal, like the tiny balloons carrying the entire fence. </p>

</div>
<div class="section">
  <img src="../../assets/img/process/1.5.jpg" alt=""/>
  <h2>Challenges and lessons learned</h2>
  <p>
    Blowing on the screen to interact, is a rather new method and comes with many challenges. There can be a lot of noise around the phone and distinguishing between the player and other sounds can be difficult. We learned about frequencies and sound filters, and finally found a simple yet effective method.
<br/><br/>
ARCore is software only supported by a selected few phones, we had access to one of those. Coordinating with the group and collectively being able to develop, by sharing this resource, was a rough limitation and obstacle. Continuing with the topic on collaboration, we also had a uphill battle of using Unity in a team. A program with large files which is difficult for any current version control systems to handle.
<br/><br/>
We learned a lot regarding AR, as many of us had minimal experience before hand. How depth is precieved inside the AR-world was a issue that became apparent for us within minutes. To understand where objects actually are in space, we had to add shadows, limit their size and make sure we had reference AR objects.
  </p>
</div>
</div>
<div class="row">
  <div class="col">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1NRIkMIPD4c" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
