
html, body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    // min-height: 949px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}