
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}

body {
    overflow-y: scroll;
    min-height: 949px;
}