#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#h {
  overflow: hidden;
}
#h-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  background-image: url(../../assets/img/home/00.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}
#h-header-title-wrap {
  position: absolute;
  bottom: 20.9vw;
  left: 7.5vw;
  font-size: 12vw;
  letter-spacing: -0.02em;
  line-height: 85%;
}

#h-header-background-wrap,
#h-header-center-wrap,
#h-header-foreground-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#h-header img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#h-header-scroll-line-wrap {
  position: absolute;
  bottom: 0;
  left: 76px;
  width: 2px;
  height: 106px;
  overflow: hidden;
}
