<div id="app">
  <div id="h">
    <div class="start">
        <h1 id="h-header-title-wrap">
          <span id="h-header-title">ZeppelinARe</span>
        </h1>
        <div id="h-header-center-wrap">
            <img class="h-header-clouds" src="/assets/img/home/clouds.png" alt="">
        </div>
        <div id="h-header-foreground-wrap">
            <img class="h-header-clouds" src="/assets/img/home/clouds2.png" alt="">
        </div>
    </div>
    <div class="hiw-content" id="hiw">
      <app-how-it-works></app-how-it-works>
    </div>
    <div class="goals">
        <app-goals></app-goals>
      </div>
    <div class="carousel">
        <app-image-carousel></app-image-carousel>
      </div>
    <div class="team-content">
      <app-team></app-team>
    </div>
  </div>
</div>
