<div id="app">
  <div id="h">
    <!-- <div id="h-header">
        <h1 id="h-header-title-wrap">
            <span id="h-header-title">ZeppelinARe</span>
            <span id="h-header-line"></span>
        </h1>
        <div id="h-header-background-wrap">
            <img id="h-header-background" src="../../assets/img/01.png" alt="">
        </div>
        <div id="h-header-center-wrap">
            <img id="h-header-center" src="../../assets/img/02.png" alt="">
        </div>
        <div id="h-header-foreground-wrap">
            <img id="h-header-foreground" src="../../assets/img/03.png" alt="">
        </div>
      </div> -->
    <div class="content">
      <app-how-it-works></app-how-it-works>
    </div>
  </div>
</div>
