.start{
  min-height: 100vh;
}

.how-it-works {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  align-items: center;
}

.header {
  font-size: 8vh;
  background: linear-gradient(40deg, #f5af19, #ef5310 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
  width: 55%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

.content {
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  height: 700px;
  margin: auto;
  margin-top: 5%;
}

.section {
  margin-top: 2%;
  color: #fff;
  width: 62%;
  min-height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // background-color: #f7f9ff;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  align-items: center;
}
.section > .text {
  margin-left: 5%;
  width: 70%;
  cursor: default;
  display: inline-block;
  vertical-align: top;
}

.section h2 {
  font-size: 4vh;
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
}
.section:hover {
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), 0 5px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.01);
}
.section:hover > img {
  transform: scale(1.2);
}
.section img {
  max-width: 20vh;
  max-height: 20vh;
  width: auto;
  height: auto;
  margin: 5%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#blowing {
  margin-left: 2%;
  max-width: 150px;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transform: rotate(10deg);
}
.section:hover > #blowing {
  transform: rotate(-10deg) translate(40px);
}
#inversed {
  text-align: right !important;
  margin-left: 20%;
}

#inversed > .text {
  margin-right: 7% !important;
}
#inversed > img {
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
  transform: rotate(-5deg);
}
#inversed:hover > img {
  transform: scale(1.2);
}
.btn {
  width: 20%;
  height: 10%;
  margin: auto;
  margin-top: 4%;
  text-align: center;
}
.btn > button {
  height: 100%;
  width: 100%;
  background: linear-gradient(40deg, #f5af19, #ef5310 80%);
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn > button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
