<section class="how-it-works">
  <div class="row">
    <div class="header">
      How to play
    </div>
    <div class="content">
      <div class="section">
        <img id="blowing" src="src/assets/img/how-it-works/wind-fff.png" alt=""/>
        <div class="text">
          <h2>Blowing interface</h2>
          <p>Navigate your zeppelin by simply blowing on it.  The closer you are to it, the more speed it will receive! Try to go as quickly as you can - but make sure to avoid those nasty walls!</p>
        </div>
      </div>
      <div class="section" >
        <div class="text">
          <h2>Airdrops</h2>
            <p>When you are familiar with the navigation - look for the airdrops!  The airdrops appear in the sky and contain different sizes of bounties. To achieve a highscore you have to be quick - Try to catch as many airdrops as you can before they start falling to the ground!</p>
        </div>
        <img src="src/assets/img/how-it-works/airdrop.png" alt=""/>
      </div>
      <!-- <div class="section">
        <img src="../../assets/img/how-it-works/powerups.png" alt=""/>
        <div class="text">
          <h2>Power-ups</h2>
            <p>Don't get too hung up on airdrops though - sometimes it's more valuable to look for the powerups!  Powerups help you strive for the highscore by either doubling your collected points for a limited time, or adds more time to your timer!</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row">
  <div class="col">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/EwqSi05vjwA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</section>
